<div  class="widget" ng-class="widget.showMore ? 'active' : ''"  style="background: url('./public/images/widgets/ensino-medio.jpg') top center no-repeat;" id="course_1">
  <div class="title" flex>
    <h1>Ensino Médio</h1>
    <div class="plus">
      <!-- <i ng-class="widget.showMore ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'" ng-click="widget.toggleContent();"></i> -->
    </div>
  </div>

  <div layout="row" layout-align="top center">

    <div class="content" flex="60">
      <section>
        <p>
          No Ensino Médio, etapa final da educação básica, em que os
          jovens vivem diferentes anseios diante do momento de preparação
          para a vida acadêmica e profissional, nosso principal objetivo
          é proporcionar aos alunos condições para lidar com a
          diversidade do mundo contemporâneo, promovendo a compreensão
          dos fenômenos sociais e científicos. Nossa prática pedagógica
          visa a ampliar a capacidade de reflexão e crítica, a
          competência leitora, análise e produção de textos em
          diferentes linguagens, além de potencializar o interesse
          pelo desenvolvimento científico e tecnológico. Buscamos agregar
          ao repertório dos alunos recursos que lhes possibilitem o bom
          desempenho na educação superior, aprimorando seus posicionamentos
          e ações na escola e na sociedade, no âmbito individual e coletivo.
        </p>

        <h2>Dessa forma, o Ensino Médio se propõe a:</h2>
        <ul>
          <li>acolher os alunos ingressantes no nível, possibilitando a integração à nossa proposta de trabalho;</li>
          <li>garantir o acompanhamento da vida escolar dos alunos, buscando a integração e intervenção junto à família;</li>
          <li>contribuir para que os alunos reconheçam os desafios dessa etapa da vida escolar;</li>
          <li>criar oportunidades de reflexão sobre o processo de escolha de uma profissão e sobre as perspectivas de trabalho numa sociedade em constante e acelerado processo de transformação;</li>
          <li>tratar os conteúdos, sempre que possível, a partir de problemas da sociedade, estimulando o aluno à compreensão , reflexão, autonomia e protagonismo;</li>
          <li>desenvolver atividades integradoras de iniciação cientifica;</li>
          <li>propor atividades de estudo com utilização de novas tecnologias da comunicação.</li>
        </ul>
      </section>
    </div>
    <div class="video-container" flex>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_DO50PpZRIA?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


</div>
