@font-face {
    font-family: 'gearedslab';
    src: url('../fonts/gearedslab/gearedslab-bold.eot');
    src: url('../fonts/gearedslab/gearedslab-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gearedslab/gearedslab-bold.woff') format('woff'),
         url('../fonts/gearedslab/gearedslab-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
