// COLORS

$yellow:        #f4b651;
$blue:          #064469;
$pink:          #ed1949;


$white:         #ffffff;
$grey:          #e2e3e1;

$lightgrey: #f5f7f5;
$darkgrey: #7d7d7d;
$lightblue: #00aab5;
$darkred: #c83253;
$red: #ed1846;
$orange:        #f15922;
$green:         #00a77e;