<section id="oficinas">

    <div layout="row" class="title" style="background: url('./public/images/curso-alunos.png') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="row" layout-align="center start">
        <div flex="100" flex-gt-sm="90" layout="row" layout-wrap>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-red">
                        <div class="month">Agosto</div>
                        <h3><a href="#/alunos/1">Cambridge Exam Preparation (FCE/CAE)</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/13.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/alunos/1">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Compareça na Oficina de Preparação para o Exame de Cambridge com a Professora Madu.</p>

                    <p><b>Data: 14.08 • Horário: 13h30 às 14h20</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Agosto</div>
                        <h3><a href="#/alunos/2">Cambridge Exam Preparation (PET)</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/14.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/alunos/2">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Compareça na Oficina de Preparação para o Exame de Cambridge com a Professora Madu.</p>

                    <p><b>Data: 14.08 • Horário: 14h25 às 15h15</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-orange">
                        <div class="month">Agosto</div>
                        <h3><a href="#/alunos/3">Cambridge Exam Preparation (KET)</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/15.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/alunos/3">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Compareça na Oficina de Preparação para o Exame de Cambridge com a Professora Madu.</p>

                    <p><b>Data: 14.08 • Horário: 15h20 às 16h10</b></p>
                </article>
            </div>

        </div>
    </div>
</section>
