<section id="oficinas">

    <div layout="row" class="title" style="background: url('./public/images/curso-professores.png') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="row" layout-align="center start">
        <div flex="100" flex-gt-sm="90" layout="row" layout-wrap>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-red">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/4dzeUjWs3b" target="_blank">Movie Maker para Vídeos
                            Criativos</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/1.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/4dzeUjWs3b" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a fazer vídeos criativos utilizando o Movie Maker.</p>

                    <p><b>Data: 10.08 • Horário: 16h às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/jIsoh4Bb5p" target="_blank">Ensino Híbrido - Tecnologia Para o
                            Ensino</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/2.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/jIsoh4Bb5p" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>O uso de tecnologias para personalizar o ensino em sala de aula.</p>

                    <p><b>Data: 13.08 • Horário: 16h às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-red">
                        <div class="month">Agosto</div>
                        <h3><a href="#/curso/3">Cambridge Exam Preparation (FCE/CAE)</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/13.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/3">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Compareça na Oficina de Preparação para o Exame de Cambridge com a Professora Madu.</p>

                    <p><b>Data: 14.08 • Horário: 13h30 às 14h20</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Agosto</div>
                        <h3><a href="#/curso/4">Cambridge Exam Preparation (PET)</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/14.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/4">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Compareça na Oficina de Preparação para o Exame de Cambridge com a Professora Madu.</p>

                    <p><b>Data: 14.08 • Horário: 14h25 às 15h15</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-orange">
                        <div class="month">Agosto</div>
                        <h3><a href="#/curso/5">Cambridge Exam Preparation (KET)</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/15.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/5">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Compareça na Oficina de Preparação para o Exame de Cambridge com a Professora Madu.</p>

                    <p><b>Data: 14.08 • Horário: 15h20 às 16h10</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Agosto</div>
                        <h3><a href="#/curso/1">Aprendizagens Cooperativas</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/11.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/1">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Curso com as professoras de inglês: Prof. Daniela Mitsue Ono e
                        Prof. Elisa Cristina da Silva.</p>

                    <p><b>Data: 17.08 • Horário: 16h30 às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-orange">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/Wpyqgqqj4x" target="_blank">Apresentações Memoráveis com
                            Prezi</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/3.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/Wpyqgqqj4x" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Crie apresentações dinâmicas com o Prezi e desperte a atenção do seu público</p>

                    <p><b>Data: 18.08 • Horário: 16h às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/bm9T3qJHlS" target="_blank">Vídeos-Aulas por Hangouts</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/4.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/bm9T3qJHlS">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a criar vídeo-aulas por Hangout e publicá-las no Canal do YouTube</p>

                    <p><b>Data: 20.08 • Horário: 13h às 14h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-orange">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/2MmTH00XOy" target="_blank">Google Planilhas</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/8.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/2MmTH00XOy" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a criar planilhas e gráficos com o uso do Google Planilhas.</p>

                    <p><b>Data: 27.08 • Horário: 13h às 14h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Agosto</div>
                        <h3><a href="#/curso/6">Curso de Metodologia de Ensino da Língua Inglesa (CLIL)</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/16.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/6">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Conheça a metodologia do ensino do inglês, para funcionários e professores de qualquer disciplina.</p>

                    <p><b>Data: 31.08 • Horário: parte 1 - 18h30 às 19h</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-red">
                        <div class="month">Agosto</div>
                        <h3><a href="#/curso/7">Curso de Metodologia de Ensino da Língua Inglesa (CLIL)</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/17.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/7">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Conheça a metodologia do ensino do inglês, para funcionários e professores de qualquer disciplina.</p>

                    <p><b>Data: 31.08 • Horário: parte 2 - das 19h às 20h</b></p>
                </article>
            </div>


            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-red">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/0lvJw1Egpv" target="_blank">Programação com Scratch e Angry
                            Birds</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/6.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/0lvJw1Egpv" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a programar com o uso de Scratch e Angry Birds.</p>

                    <p><b>Data: 09.09 • Horário: 13h às 14h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-orange">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/0lvJw1Egpv" target="_blank">Ensino Híbrido - <br>
                            Tecnologia para o ensino</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/18.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/tFWFH72ATW" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>O uso de tecnologias para personalizar o ensino em sala de aula.</p>

                    <p><b>Data: 10.09 • Horário: 10h às 11h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/Hx7tfdRFzy" target="_blank">Lições Interativas com Zaption</a>
                        </h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/7.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/Hx7tfdRFzy" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Como criar lições interativas com a ferramenta Zaption.</p>

                    <p><b>Data: 14.09 • Horário: 16h às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Setembro</div>
                        <h3>
                            <a href="#/curso/20">
                                Organizando sua agenda com o Google agenda
                            </a>
                        </h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/20.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/20">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a organizar sua agenda com o uso da Google Agenda.</p>

                    <p><b>Data: 15.09 • Horário: 7h às 8h</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-red">
                        <div class="month">Setembro</div>
                        <h3>
                            <a href="#/curso/20">
                                Organizando sua agenda com o Google agenda
                            </a>
                        </h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/21.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/21">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a organizar sua agenda com o uso da Google Agenda.</p>

                    <p><b>Data: 15.09 • Horário: 12h às 13h</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Setembro</div>
                        <h3>
                            <a href="#/curso/24">
                                Projeto acender alfabetização de adultos
                            </a>
                        </h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/24.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/24">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Pessoas "saindo do escuro" aprendendo a ler e escrever.</p>

                    <p><b>Data: 15, 22 e 29.09 • Horário: 16h30 às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Setembro</div>
                        <h3>
                            <a href="#/curso/20">
                                Organizando sua agenda com o Google agenda
                            </a>
                        </h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/22.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/22">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a organizar sua agenda com o uso da Google Agenda.</p>

                    <p><b>Data: 15.09 • Horário: 18h às 19h</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Setembro</div>
                        <h3>
                            <a href="#/curso/19">
                                nutrição e qualidade de vida
                            </a>
                        </h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/19.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/19">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Nutrição e qualidade de vida: uma visão moderna sobre alimentação escolar</p>

                    <p><b>Data: 15.09 • Horário: 13:30h às 15h00</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/b0elB9EeqB" target="_blank">Google Forms para Avaliações
                            Online</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/5.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/b0elB9EeqB" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Como criar atividades e avaliações online com o uso do Google Forms.</p>

                    <p><b>Data: 17.09 • Horário: 17h às 18h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-orange">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/uASmlKT0ca" target="_blank">Crie murais compartilhados com o
                            Padlet</a>
                        </h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/9.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/uASmlKT0ca" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a utilizar o Padlet e crie murais compartilhados.</p>

                    <p><b>Data: 24.09 • Horário: 13h30 às 14h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Setembro</div>
                        <h3><a href="#/curso/2">Elvira - Pedalando com História</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/12.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/2">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Traga sua magrela e divirta-se explorando o centro histórico de São Paulo.</p>

                    <p><b>Data: 27.09 • Horário: 8h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/TxjdcVMfns" target="_blank">Evernote em Sala de Aula</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/10.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/TxjdcVMfns" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Conheça os benefícios do aplicativo Evernote e aprenda a utilizar em sala de aula.</p>

                    <p><b>Data: 28.09 • Horário: 13h às 14h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-red">
                        <div class="month">Outubro</div>
                        <h3><a href="#/curso/23">A câmera e o olhar do fotógrafo</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/23.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/curso/23">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Saiba os princípios básicos sobre o funcionamento de uma câmera profissional.</p>
                    <p><b>Data: 03.10 • Horário: 14h às 15h30</b></p>
                </article>
            </div>

        </div>
    </div>
</section>
