<section id="oficinas">
    <div layout="row" class="title"
         style="background: url('./public/images/curso.jpg') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="column" layout-gt-md="row">
        <div flex="100" layout="column" layout-gt-md="row" flex layout-wrap layout-align-gt-md="center start">
            <div flex="85" flex-gt-lg="66" layout-padding>
                <article class="post">
                    <!--<div ng-if="npost.images.length == 0">-->
                    <img ng-src="public/images/oficina-interna/21.jpg" img-responsive>
                    <!--</div>-->
                    <div class="title-red">
                        <h2>APRENDA A ORGANIZAR SUA AGENDA COM O USO DO GOOGLE AGENDA</h2>
                    </div>
                    <!--<div ng-bind-html="post.content"></div>-->
                    <div class="oficina-content">
                        <p>
                          Os serviços do Google estão cada vez mais presentes,
                          principalmente em nossa vida profissional. Com o
                          tempo cada vez mais corrido, os compromissos são
                          tantos que, às vezes, um calendário ou agenda de
                          papel não são suficientes para organizar tudo.
                          Para quem vive essa realidade, o Google Agenda pode
                          facilitar o gerenciamento de nossas tarefas.
                        </p>

                        <p><b>Data:</b> 15.09 <br/>
                            <b>Horário:</b> 12h às 13h <br/>
                    </div>
                    <div class="button-red button-subscribe">
                        <a href="http://goo.gl/forms/Z9nzBcKWNB" target="_blank">CLIQUE PARA SE INSCREVER</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
