<section id="oficinas">
    <div layout="row" class="title"
         style="background: url('./public/images/curso.jpg') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="column" layout-gt-md="row">
        <div flex="100" layout="column" layout-gt-md="row" flex layout-wrap layout-align-gt-md="center start">
            <div flex="85" flex-gt-lg="66" layout-padding>
                <article class="post">
                    <!--<div ng-if="npost.images.length == 0">-->
                    <img ng-src="public/images/oficina-interna/2.jpg" img-responsive>
                    <!--</div>-->
                    <div class="title-green">
                        <h2>Pedalando com História</h2>
                    </div>
                    <!--<div ng-bind-html="post.content"></div>-->
                    <div class="oficina-content">
                        <p>Traga sua magrela e divirta-se explorando o centro histórico de São Paulo.</p>

                        <p><b>Data:</b> 27.09 <br/>
                            <b>Ponto de Partida:</b> Av. Paulista - Casa das Rosas. <br/>
                            <b>Horário:</b> 8h30 <br/>
                            <b>Responsáveis:</b> Betina, Celise, Thiago e Profº Félix.</p>

                        <p>
                            <b>Roteiro do passeio:</b> Domingo - Av Paulista; Vergueiro; Liberdade; Sé.
                            Início no Pateo do Collegio > Solar da Marquesa > Caixa Cultural > Praça da Sé – Marco Zero
                            – Catedral da Sé > Rua Benjamin Constant > Largo São Francisco – Faculdade de Direito da USP
                            > Rua Líbero Badaró > Praça do Patriarca > Prédio da Prefeitura > Viaduto do Chá > Vista do
                            Anhangabaú > Praça Ramos > Theatro Municipal > Rua Xavier de Toledo.
                        </p>

                        <p><a href="http://www.cidadedesaopaulo.com/spdebike/roteiros/paulista/" target="_blank">
                            www.cidadedesaopaulo.com/spdebike/roteiros/paulista/</a>
                        </p>
                    </div>
                    <div class="button-green button-subscribe">
                        <a href="http://goo.gl/forms/gMn7p3LbRI" target="_blank">CLIQUE PARA SE INSCREVER</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
