<section id="oficinas">
    <div layout="row" class="title"
         style="background: url('./public/images/curso.jpg') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="column" layout-gt-md="row">
        <div flex="100" layout="column" layout-gt-md="row" flex layout-wrap layout-align-gt-md="center start">
            <div flex="85" flex-gt-lg="66" layout-padding>
                <article class="post">
                    <!--<div ng-if="npost.images.length == 0">-->
                    <img ng-src="public/images/oficina-interna/19.jpg" img-responsive>
                    <!--</div>-->
                    <div class="title-green">
                        <h2>NUTRIÇÃO E QUALIDADE DE VIDA: UMA VISÃO MODERNA SOBRE ALIMENTAÇÃO ESCOLAR</h2>
                    </div>
                    <!--<div ng-bind-html="post.content"></div>-->
                    <div class="oficina-content">
                        <p>
                          A alimentação adequada apresenta-se como um dos
                          pilares básicos para a sobrevivência e qualidade de
                          vida em todas as faixas etárias, incluindo a infância,
                          pois é nesse período que os hábitos
                          alimentares começam a se formar e, muitas vezes,
                          se consolidam.
                        </p>

                        <p>
                          A exploração da Nutrição, na escola, busca, não só
                          colaborar com o bom desenvolvimento dos alunos, uma
                          vez que,  bem nutridos, eles aprendem melhor e
                          adquirem maior capacidade de interação pedagógica,
                          mas também  conscientizá-los da importância da
                          redução do consumo exagerado de alimentos carregados
                          de açúcares, sal e gorduras nocivas à saúde, na
                          proteção do organismo contra o desenvolvimento de
                          doenças crônicas degenerativas (obesidade, diabetes,
                          pressão alta, etc).
                        </p>


                        <p><b>Data:</b> 15.09 <br/>
                            <b>Horário:</b> 13h30 às 15h00 <br/>
                            <b>Sala:</b> Auditório</p>
                    </div>
                    <div class="button-green button-subscribe">
                        <a href="http://goo.gl/forms/Q6b9CwnFlS" target="_blank">CLIQUE PARA SE INSCREVER</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
