<section id="oficinas">
    <div layout="row" class="title"
         style="background: url('./public/images/curso.jpg') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="column" layout-gt-md="row">
        <div flex="100" layout="column" layout-gt-md="row" flex layout-wrap layout-align-gt-md="center start">
            <div flex="85" flex-gt-lg="66" layout-padding>
                <article class="post">
                    <!--<div ng-if="npost.images.length == 0">-->
                    <img ng-src="public/images/oficina-interna/CLIL-01.jpg" img-responsive>
                    <!--</div>-->
                    <div class="title-green">
                        <h2>Curso de Metodologia de Ensino da Língua Inglesa (CLIL)</h2>
                    </div>
                    <!--<div ng-bind-html="post.content"></div>-->
                    <div class="oficina-content">
                        <p>
                          A primeira parte do curso, que será ministrada por
                          Flávio Vicente, será uma continuidade das oficinas
                          English, Go For It, do Elvira D@y, e é voltada para
                          todos os funcionários e professores de qualquer
                          disciplina que queiram participar de um encontro no
                          idioma. A segunda etapa é direcionada especificamente
                          para professores de Inglês e será coordenada por
                          Elaine Gallagher.
                        </p>
                        <p>
                            <b>Data:</b>31.08 <br/>
                            <b>Local:</b> Auditório <br/>
                            <b>Horário:</b> parte 1 – das 18h30 às 19h <br/>
                        </p>

                    </div>
                    <div class="button-green button-subscribe">
                        <a href="http://goo.gl/forms/lEzCe8Yypw" target="_blank">CLIQUE PARA SE INSCREVER</a>
                    </div>
                    <!--<div class="button-green button-subscribe">-->
                    <!--<a href="#" target="_blank">CLIQUE PARA SE INSCREVER</a>-->
                    <!--</div>-->
                </article>
            </div>
        </div>
    </div>
</section>
