<section id="oficinas">
    <div layout="row" class="title"
         style="background: url('./public/images/curso.jpg') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="column" layout-gt-md="row">
        <div flex="100" layout="column" layout-gt-md="row" flex layout-wrap layout-align-gt-md="center start">
            <div flex="85" flex-gt-lg="66" layout-padding>
                <article class="post">
                    <!--<div ng-if="npost.images.length == 0">-->
                    <img ng-src="public/images/oficina-interna/CAMBRIDGE1.jpg" img-responsive>
                    <!--</div>-->
                    <div class="title-red">
                        <h2>Cambridge Exam Preparation (FCE/CAE)</h2>
                    </div>
                    <!--<div ng-bind-html="post.content"></div>-->
                    <div class="oficina-content">

                        <p>
                            <b>Alunos:</b> 1º, 2º e 3º EM <br/>
                            <b>Local:</b> Room 25 <br/>
                            <b>Horário:</b> Friday 1:30pm ~ 2:20pm <br/>
                            <b>Duração do Curso:</b> 14.08 a 04.12</p>

                    </div>
                    <!--<div class="button-green button-subscribe">-->
                        <!--<a href="#" target="_blank">CLIQUE PARA SE INSCREVER</a>-->
                    <!--</div>-->
                </article>
            </div>
        </div>
    </div>
</section>
