<section id="oficinas">
    <div layout="row" class="title"
         style="background: url('./public/images/curso-professores.png') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="column" layout-gt-md="row">
        <div flex="100" layout="column" layout-gt-md="row" flex layout-wrap layout-align-gt-md="center start">
            <div flex="85" flex-gt-lg="66" layout-padding>
                <article class="post">
                    <!--<div ng-if="npost.images.length == 0">-->
                    <img ng-src="public/images/oficina-interna/23.jpg" img-responsive>
                    <!--</div>-->
                    <div class="title-red">
                        <h2>Oficina de Fotografia “A câmera e o olhar do fotógrafo”</h2>
                    </div>
                    <!--<div ng-bind-html="post.content"></div>-->
                    <div class="oficina-content">
                        <p>
                          Princípios básicos sobre o funcionamento de uma
                          câmera profissional (DSLR), velocidade, abertura,
                          ISO e utilização do modo manual.
                        </p>
                        <P>
                          <b>Público-alvo:</b> Jovens de todas as idades,
                          estudantes, professores e toda a comunidade Elvira
                          Brandão que é apaixonada por fotografia e que quer
                          conhecer as técnicas básicas de operação de uma
                          câmera profissional.
                        </P>
                        <p style="color: red; font-weight: bold">
                          Importante: Vagas limitadas – serão disponibilizadas
                          pelo Elvira 5 câmeras DSLR, para os cinco primeiros
                          inscritos. Os demais pretendentes só poderão
                          participar da Oficina se tiverem equipamentos
                          próprios.
                        </p>

                        <p><b>Data:</b> 03/10/2015, sábado <br/>
                          <b>Horário:</b> 7h às 8h <br/>
                            <b>Local:</b> Sala 14 <br/>
                    </div>
                    <div class="button-red button-subscribe">
                        <a href="http://goo.gl/forms/atbJHSGq8I" target="_blank">CLIQUE PARA SE INSCREVER</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
