<section id="oficinas">
    <div layout="row" class="title"
         style="background: url('./public/images/curso.jpg') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="column" layout-gt-md="row">
        <div flex="100" layout="column" layout-gt-md="row" flex layout-wrap layout-align-gt-md="center start">
            <div flex="85" flex-gt-lg="66" layout-padding>
                <article class="post">
                    <!--<div ng-if="npost.images.length == 0">-->
                    <img ng-src="public/images/oficina-interna/COOPERATIVA.jpg" img-responsive>
                    <!--</div>-->
                    <div class="title-blue">
                        <h2>Aprendizagens Cooperativas / Cooperative Learning</h2>
                    </div>
                    <!--<div ng-bind-html="post.content"></div>-->
                    <div class="oficina-content">
                        <p>Curso com as professoras de inglês: Prof. Daniela Mitsue Ono e
                            Prof. Elisa Cristina da Silva.</p>

                        <p><b>Data:</b> 17.08 <br/>
                            <b>Horário:</b> 16h30 às 17h30 <br/>
                            <b>Sala:</b> 23
                        </p>

                        <p>
                            Qual o objetivo de se trabalhar em grupos? É possível desenvolver habilidades individuais
                            trabalhando em equipe? Há diferença entre time e grupo?
                        </p>

                        <p>Aprendizagem cooperativa (Cooperative Learning) é um procedimento de ensino aprendizagem que
                            desenvolve a habilidade de trabalhar em equipe favorecendo as capacidades individuais dos
                            alunos. Os estudantes são organizados em pequenos grupos em que a heterogeneidade contribui
                            para que metas e objetivos comuns sejam atingidos, pressupondo a responsabilidade de
                            participação de todos os membros. Cada um desempenha diferentes funções no grupo, onde todos
                            ensinam e aprendem. Este procedimento não só permite ao professor abordar temas e conteúdos
                            pertinentes ao ano, como também atitudes e procedimentos necessários para o crescimento de
                            um cidadão crítico, investigador, reflexivo, integrador e avaliador; sendo também um
                            instrumento de avaliação formativa essencial para o auto-conhecimento e protagonismo do
                            estudante.</p>

                    </div>
                    <div class="button-blue button-subscribe">
                        <a href="http://goo.gl/forms/oqHNQ7EPnd" target="_blank">CLIQUE PARA SE INSCREVER</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
