<section id="oficinas">
    <div layout="row" class="title"
         style="background: url('./public/images/curso-professores.png') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="column" layout-gt-md="row">
        <div flex="100" layout="column" layout-gt-md="row" flex layout-wrap layout-align-gt-md="center start">
            <div flex="85" flex-gt-lg="66" layout-padding>
                <article class="post">
                    <!--<div ng-if="npost.images.length == 0">-->
                    <img ng-src="public/images/oficina-interna/24.jpg" img-responsive>
                    <!--</div>-->
                    <div class="title-blue">
                        <h2>PROJETO ACENDER - ALFABETIZAÇÃO DE ADULTOS</h2>
                    </div>
                    <!--<div ng-bind-html="post.content"></div>-->
                    <div class="oficina-content">
                        <p>
                          Adotamos o conceito da pessoa “sair do escuro”
                          aprender a ler e escrever a partir de exemplos
                          práticos da rotina, de forma lúdica e motivacional.
                          Uma proposta multidisciplinar, envolvendo o corpo
                          docente, os alunos e voluntários.
                        </p>
                        <P>
                          <b>Público-alvo:</b> O público para esse curso são
                          os funcionários do Elvira que ainda não sabem ler e
                          escrever.
                        </P>
                        <p><b>Ministrado por:</b> Katia Campanile</p>

                        <p><b>Data: Todas as terças-feira de setembro</b><br/>
                          <b>Horário:</b> 16h30 às 17h30 <br/>
                            <b>Local:</b> Sala 16 <br/>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
