<section id="oficinas">

    <div layout="row" class="title" style="background: url('./public/images/curso-professores.png') top center repeat-x;">
        <h1></h1>
    </div>
    <div flex layout="row" layout-align="center start">
        <div flex="100" flex-gt-sm="90" layout="row" layout-wrap>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-red">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/4dzeUjWs3b" target="_blank">Movie Maker para Vídeos
                            Criativos</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/1.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/4dzeUjWs3b" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a fazer vídeos criativos utilizando o Movie Maker.</p>

                    <p><b>Data: 10.08 • Horário: 16h às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/jIsoh4Bb5p" target="_blank">Ensino Híbrido - Tecnologia Para o
                            Ensino</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/2.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/jIsoh4Bb5p" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>O uso de tecnologias para personalizar o ensino em sala de aula.</p>

                    <p><b>Data: 13.08 • Horário: 16h às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Agosto</div>
                        <h3><a href="#/professores/1">Aprendizagens Cooperativas</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/11.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/professores/1">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Curso com as professoras de inglês: Prof. Daniela Mitsue Ono e
                        Prof. Elisa Cristina da Silva.</p>

                    <p><b>Data: 17.08 • Horário: 16h30 às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-orange">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/Wpyqgqqj4x" target="_blank">Apresentações Memoráveis com
                            Prezi</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/3.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/Wpyqgqqj4x" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Crie apresentações dinâmicas com o Prezi e desperte a atenção do seu público</p>

                    <p><b>Data: 18.08 • Horário: 16h às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/bm9T3qJHlS" target="_blank">Vídeos-Aulas por Hangouts</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/4.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/bm9T3qJHlS">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a criar vídeo-aulas por Hangout e publicá-las no Canal do YouTube</p>

                    <p><b>Data: 20.08 • Horário: 13h às 14h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-orange">
                        <div class="month">Agosto</div>
                        <h3><a href="http://goo.gl/forms/2MmTH00XOy" target="_blank">Google Planilhas</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/8.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/2MmTH00XOy" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a criar planilhas e gráficos com o uso do Google Planilhas.</p>

                    <p><b>Data: 27.08 • Horário: 13h às 14h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-red">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/0lvJw1Egpv" target="_blank">Programação com Scratch e Angry
                            Birds</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/6.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/0lvJw1Egpv" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a programar com o uso de Scratch e Angry Birds.</p>

                    <p><b>Data: 09.09 • Horário: 13h às 14h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/Hx7tfdRFzy" target="_blank">Lições Interativas com Zaption</a>
                        </h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/7.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/Hx7tfdRFzy" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Como criar lições interativas com a ferramenta Zaption.</p>

                    <p><b>Data: 14.09 • Horário: 16h às 17h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/b0elB9EeqB" target="_blank">Google Forms para Avaliações
                            Online</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/5.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/b0elB9EeqB" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Como criar atividades e avaliações online com o uso do Google Forms.</p>

                    <p><b>Data: 17.09 • Horário: 17h às 18h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-orange">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/uASmlKT0ca" target="_blank">Crie murais compartilhados com o
                            Padlet</a>
                        </h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/9.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/uASmlKT0ca" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Aprenda a utilizar o Padlet e crie murais compartilhados.</p>

                    <p><b>Data: 24.09 • Horário: 13h30 às 14h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-green">
                        <div class="month">Setembro</div>
                        <h3><a href="#/professores/2">Elvira - Pedalando com História</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/12.jpg" alt="#"/>
                        <figcaption>
                            <a href="#/professores/2">Veja Mais</a>
                        </figcaption>
                    </figure>
                    <p>Traga sua magrela e divirta-se explorando o centro histórico de São Paulo.</p>

                    <p><b>Data: 27.09 • Horário: 8h30</b></p>
                </article>
            </div>

            <div flex="100" flex-md="50" flex-gt-md="33" flex-gt-lg="25" layout-padding>
                <article>
                    <div class="title-blue">
                        <div class="month">Setembro</div>
                        <h3><a href="http://goo.gl/forms/TxjdcVMfns" target="_blank">Evernote em Sala de Aula</a></h3>
                    </div>
                    <figure>
                        <img ng-src="public/images/oficinas/10.jpg" alt="#"/>
                        <figcaption>
                            <a href="http://goo.gl/forms/TxjdcVMfns" target="_blank">Clique para se Inscrever</a>
                        </figcaption>
                    </figure>
                    <p>Conheça os benefícios do aplicativo Evernote e aprenda a utilizar em sala de aula.</p>

                    <p><b>Data: 28.09 • Horário: 13h às 14h30</b></p>
                </article>
            </div>

        </div>
    </div>
</section>
